.chartHeaderContainer {
  background-color: #000;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.chartHeaderWrapper {
  width: 95%;
  margin: 0 auto;
}
.countryBTNContainer,
.chartContainer {
  padding: 0.9375rem 2.5%;
}
.countryBTNContainer {
  width: 100vw;
  background-color: transparent;
  backdrop-filter: blur(3.75rem);
  z-index: 4;
  position: relative;
}

.countryBTN {
  text-transform: capitalize;
  color: #fff;
  width: 95%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  outline: none;
  align-items: center;
}

.cheveronIcon {
  width: 1rem;
  height: 1rem;
  color: #fff;
}
.inforContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.chartContainer {
  padding-top: 4.625rem;
  height: 15.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.8125rem;
}
.country,
.chartName {
  font-weight: 700;
}
.country {
  text-transform: uppercase;
  font-size: 0.875rem;
}
.chartName {
  font-size: 32px;
}
.chartDescr {
  opacity: 0.7;
}
.buttonContainer {
  display: flex;
  gap: 0.875rem;
  margin-top: auto;
}
.chartTypeBTNs {
  color: #fff;
  padding: 0.625rem 0.9375rem;
  border-radius: 999px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 700;
  text-transform: uppercase;
}
.buttonClick {
  background-color: #fff;
  color: #000;
}
.imageContainer {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg) translateY(-58%) translateX(17%);
}
.sideImage {
  height: 192px;
  width: 192px;
  object-fit: cover;
}

@media (max-width: 390px) {
  .imageContainer {
    transform: rotate(45deg) translateY(-80%) translateX(40%);
  }
}

@media (min-width: 768px) {
  .countryBTNContainer {
    backdrop-filter: none;
  }
  .chartName {
    font-size: 50px;
  }
  .country,
  .chartDescr {
    font-size: 16px;
  }
  .countryBTN {
    width: 16.875rem;
  }
  .chartContainer {
    padding-top: 2.8125rem;
    height: 16.875rem;
  }
}
