.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.filterConcerts {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  width: 325px;
  border-radius: 16px;
  overflow: hidden;
  color: #000;
  background-color: #e1eae7;
  padding: 1rem 0;
}
.headingContainer,
.clearContainer,
.endDate,
.startDate {
  display: flex;
  justify-content: space-between;
}
.headingContainer {
  padding: 1.25rem 1rem;
}

.hideBTN {
  margin-left: auto;
}
.hideBTN,
.customRangeBTN,
.newLocationBTN,
.clearBTN,
.startDate,
.endDate {
  color: #066bff;
}
.hideBTN,
.BTNs {
  font-size: 0.875rem;
}
.whenContainer,
.whereContainer {
  background-color: #edf2f4;
  padding: 0 1rem;
  padding-bottom: 1rem;
  border-radius: 6px;
}
.whereContainer {
  margin-top: 6px;
}
.when,
.customRangeBTN,
.newLocationBTN,
.startDateContainer,
.endDateContainer,
.endDate,
.startDate {
  display: flex;
  align-items: center;
}
.when,
.where {
  padding: 18px 0;
  margin: 0;
}
.BTNs {
  padding: 10px 20px;
  border-radius: 999px;
  background-color: #fff;
  font-weight: bold;
}
.todayContainer,
.tomorrowContainer,
.nearMeContainer,
.locationContainer {
  display: flex;
  gap: 8px;
}
.tomorrowContainer,
.locationContainer {
  margin-top: 16px;
}
.customRangeBTN,
.newLocationBTN {
  margin-top: 16px;
}

.customRange,
.newLocation {
  margin-left: 6px;
}

.dateContainer {
  padding: 1rem;
  border-radius: 16px;
  margin-top: 16px;
  background-color: rgba(255, 255, 255, 0.6);
}
.start,
.end {
  font-size: 0.75rem;
  font-weight: 700;
}
/* Remove calendar icon in Chrome, Safari, Edge */
.startDate::-webkit-calendar-picker-indicator,
.endDate::-webkit-calendar-picker-indicator {
  display: none;
}
.startDate::after,
.endDate::after {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tZG93bi1pY29uIGx1Y2lkZS1jaGV2cm9uLWRvd24iPjxwYXRoIGQ9Im02IDkgNiA2IDYtNiIvPjwvc3ZnPg==);
  color: #066bff;
}
.startDate,
.endDate {
  appearance: none;
  border: none;
  padding: 0.625rem 0.625rem 0.625rem 1rem;
  border-radius: 8px;
  background: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 16px;
}
.endDate {
  margin-top: 16px;
}
