:root {
  --globalChart-bg: white;
  --globalChart-clr: black;
  --chartDescription-fontsize: 1.5rem;
  --chartHeading-fontsize: 1.125rem;
  --artistChartDescr-fontsize: 1rem;
}
.globalChart {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-top: 74px;
}
.globalChartWrapper {
  width: 95%;
}
.chartDesriptionContainer {
  text-align: center;
}
.chartDescriptionWrapper {
  max-width: 671px;
  margin: 0 auto 40px;
}
.chartDescription {
  font-size: var(--chartDescription-fontsize);
  margin-bottom: 0.75rem;
  margin-top: 0;
}
.chartHeading {
  font-size: var(--chartHeading-fontsize);
  color: #3a3a3c;
  font-weight: 700;
}
.artistChartDescr {
  font-size: var(--artistChartDescr-fontsize);
  color: #3a3a3c;
}
.viewChartBTN {
  position: relative;
  width: min(90vw, 1128px);
  margin: 0 auto 40px;
  overflow: hidden; /* Hides overflow */
}

.artistImg {
  width: 100%;
  object-fit: cover;
}
.top50,
.featuredArtists {
  position: absolute;
  z-index: 100;
  left: 15px;
}
.featuredArtists {
  bottom: 15px;
  color: #fff;
}
.top50 {
  bottom: 40px;
  color: #828282;
  font-weight: 700;
  font-size: 0.875rem;
}
.top50SongsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top50SongsWrapper {
  width: min(90vw, 1128px);
  display: flex;
  justify-content: space-between;
}
.viewTop50BTN {
  display: flex;
  align-items: center;
  color: #066bff;
  font-weight: 700;
}
.viewTop50BTN:hover {
  text-decoration: underline;
}
.mainHr {
  width: min(90vw, 1128px);
}

@media (min-width: 768px) {
  :root {
    --chartDescription-fontsize: 1.875rem;
  }
}
@media (min-width: 1024px) {
  :root {
    --chartDescription-fontsize: 3.125rem;
    --chartHeading-fontsize: 1.25rem;
    --artistChartDescr-fontsize: 1.25rem;
  }
}
