.artistWrapper {
  margin: 0;
}
.artistImg {
  width: 140px;
  height: 200px;
  border-radius: 8px;
}
.artistName {
  margin-top: 15px;
  color: #1c1c1e;
}

.hr {
  height: 0.5px;
  border: none;
  background-color: #ccc;
}
.featuredArtistsContainer {
  width: min(90vw, 1128px);
  position: relative;
  margin-top: 25px;
}
.featuredArtistsWrapper {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(20, 140px);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: column;
  gap: 0px 15px;

  overflow-x: hidden; /* Hides the horizontal scroll bar */
  scrollbar-width: none; /*for Firefox */
  -ms-overflow-style: none; /*for IE/Edge */
  scroll-behavior: smooth; /* Makes scrolling animated */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.featuredArtisContainer::-webkit-scrollbar {
  display: none;
}
.overlay {
  pointer-events: none; /*This will allow interactive with the content behind the overlay*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to left, #fff 0.9%, transparent 9%);
  z-index: 100;
}
.artistNavigatorBTNContainer {
  width: 100%;
  width: min(90vw, 1128px);
  height: 28px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.toLeftBTN,
.toRightBTN {
  display: flex;
  width: 28px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: blue;
}
.btnDisable {
  background-color: gray;
  cursor: not-allowed;
}
