.concertLink {
  padding: 20px 0 20px 20px;
  width: 100%;
  display: flex;
  color: #000;
}
.artistImage {
  width: 100px;
  height: 120px;
  border-radius: 8px;
}
.concertInfor {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 15px;
}
.date {
  font-size: 12px;
  color: #636366;
}
.calendarIcon {
  margin-right: 5px;
  width: 12px;
  height: 12px;
  color: #d00000;
}
.artistName {
  font-size: 18px;
  font-weight: 500;
}
.location {
  font-size: 14px;
}
.genre {
  border: 1px solid #636366;
  font-size: 12px;
  border-radius: 8px;
  color: #636366;
  align-self: flex-start;
  padding: 5px;
  margin-top: auto;
}
