:root {
  --main-bg: #00bbff;
  --main-clr: #ffffff;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.navContentWrapper {
  width: 95%;
  max-width: 1340px;

  justify-content: space-between;
}
.navContentWrapper,
.logoWrapper {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.logoWrapper {
  justify-content: center;
  width: clamp(15px, 10%, 45px);
  border-radius: 50%;
}
.logo {
  width: 95%;
  height: auto;
}
.websiteName {
  font-size: 1.2rem;
  font-weight: bold;
}
.navContainer {
  display: none;
}
.listContainer {
  display: flex;
  gap: 40px;
}
.navListItem,
.logoContainer {
  cursor: pointer;
}

.navListItem:hover {
  text-decoration: underline;
}
.navlink {
  display: block;
  font-weight: bold;
  min-width: 9ch;
  text-align: center;
}
.dropdownBTN {
  background: transparent;
}
.dropdownMenu {
  min-width: 24px;
}
@media (min-width: 1024px) {
  .dropdownBTN {
    display: none;
  }
  .navContainer {
    display: block;
  }
}
