@import url(normalize.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
p {
  margin: 0;
}
/*This ensures that the Link element does not come with default margin because it is rendered as a 'a' element by the browser*/
a {
  margin: 0;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
h2 {
  margin: 0;
  font-weight: 700;
}
