:root {
  --songProfile-gap: 10px;
}

.songProfileWrapper {
  display: flex;
  padding: 20px 0;
  gap: var(--songProfile-gap);
  width: 100%;
}
.songProfileWrapper:hover {
  background: rgba(128, 128, 128, 0.2);
}
.playSongWrapper {
  display: flex;
}
.chartPosition,
.playSongBTN,
.playIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chartPosition {
  width: 40px;
  min-width: 40px;
  height: 75px;
  color: #000;
  font-weight: 700;
}
.playSongBTN {
  width: 75px;
  min-width: 75px;
  height: 75px;
  position: relative;
  border-radius: 8px;
}
.artistImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.playIconContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 0 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}
.songPlayIcon {
  color: #fff;
  fill: #fff;
}
.songInforWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  color: #000;
}
.songName {
  font-weight: 700;
}
.artistName {
  color: #3f3f41;
}
.artistName:hover,
.songName:hover {
  text-decoration: underline;
}
.hr {
  height: 0.5px;
  border: none;
  background-color: #ccc;
}
.chartContainer {
  width: min(90vw, 1128px);
  display: grid;
  grid-template-columns: repeat(7, 85vw);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 10px 15px;
  overflow-x: hidden; /* Hides the horizontal scroll bar */
  scrollbar-width: none; /*for Firefox */
  -ms-overflow-style: none; /*for IE/Edge */
  position: relative;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.chartContainer::-webkit-scrollbar {
  display: none;
}
.overlay {
  pointer-events: none; /*This will allow interactive with the content behind the overlay*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to left, #fff 0.9%, transparent 9%);
  z-index: 100;
}

@media (min-width: 768px) {
  :root {
    --songProfile-gap: 20px;
  }
  .chartContainer {
    grid-template-columns: repeat(7, 45%);
  }
}
